:root {
	--orange: #fcc16e;
	--secondary-orange: #ffbf66;
	--main-blue: #5167b4;
	--secondary-blue: #3a4f9b;
	--third-blue: #364887;
	--fourth-blue: #44579a;
	--fifth-blue: #a2b4f1;
	--sixth-blue: #2a3050;
	--seventh-blue: #a1b3f3;
}

.owl-dots {
	margin-top: 30px !important;
}

.owl-dot span {
	width: 1.3vw !important;
	height: 1.3vw !important;
	max-width: 20px !important;
	max-height: 20px !important;
}

.owl-dot {
	transition: color 0.3s ease-in-out;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: local('Gilroy'), url('../fonts/gilroy/Gilroy-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: local('Gilroy'), url('../fonts/gilroy/Gilroy-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: local('Gilroy'), url('../fonts/gilroy/Gilroy-Semibold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: local('Gilroy'), url('../fonts/gilroy/Gilroy-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'SF Pro Text';
	font-display: swap;
	src: local('SF Pro Text'), url('../fonts/sf-pro/SF-Pro-Text-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'SF Pro Text';
	font-display: swap;
	src: local('SF Pro Text'), url('../fonts/sf-pro/SF-Pro-Text-Regular.otf');
	font-weight: 400;
}

html,
body {
	height: 100%;
	font-family: Gilroy;
	/* line-height: 1vw; */
	min-width: 980px;
	min-height: 664px;
}

.sf-pro-font {
	font-family: 'SF Pro Text' !important;
}

#main-container {
	flex: 1;
}

#main-carousel,
#secondary-carousel {
	left: 0;
	right: 0;
}

.main-bg-color {
	background: var(--main-blue);
}

.secondary-bg-color {
	background: var(--secondary-blue);
}

.secondary-color {
	color: var(--orange) !important;
	transition: color 0.3s ease-in-out;
}

.head-img {
	height: 4.5vw;
	min-height: 50px;
	max-height: 90px;
	width: auto;
	cursor: pointer;
}

.header .navigation a {
	font-weight: 600;
	color: white;
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

.navigation a:hover,
.news-name:hover {
	color: var(--orange);
	transition: color 0.3s ease-in-out;
}

.navigation div.active {
	border-bottom: 2px solid var(--orange);
}

.controls {
	font-family: 'SF Pro Text';
	font-weight: 700;
	font-size: 0.85rem;
	text-align: center;
	letter-spacing: -0.278571px;
	border-radius: 15px;
	background: var(--third-blue);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

#reg-btn-2 {
	background: var(--secondary-blue);
	border: 1px solid var(--main-blue);
	transition: background-color 0.3s ease-in-out;
}

#login-btn:hover,
#login-footer-btn:hover,
#reg-btn:hover,
#reg-btn-2:hover {
	color: var(--third-blue) !important;
	background: var(--orange) !important;
	transition: color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.slide-name {
	font-family: Gilroy;
	font-weight: normal;
	line-height: 1.2;
	font-size: 2.2rem;
	letter-spacing: -0.194445px;
	color: #fafafa;
}

.slide-text {
	font-family: 'SF Pro Text';
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: -0.411429px;
	width: 28vw;
	min-width: 397px;
	text-align: justify;
}

.slider-btn {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 0.86rem;
	letter-spacing: -0.36px;
	color: var(--third-blue);
	background: var(--orange);
	border-radius: 15px;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.slider-btn:hover {
	color: var(--orange);
	background: var(--third-blue);
	transition: color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.slider-btn:hover svg path {
	stroke: var(--orange);
	transition: stroke 0.3s ease-in-out;
}

.slider-btn img {
	height: 75%;
}

#secondary-carousel img {
	max-height: 100%;
	width: auto;
	position: absolute;
}

#secondary-carousel div {
	height: 100%;
}

.z-2 {
	z-index: 2;
}

.navigation-footer a {
	font-family: Gilroy;
	font-weight: 500;
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
	transition: color 0.3s ease-in-out;
}

.navigation-footer a:hover {
	color: var(--orange);
	transition: color 0.3s ease-in-out;
}

.footer-text {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 0.75rem;
	letter-spacing: -0.308571px;
	color: white;
}

.icon-container svg {
	height: 1.5vw;
	max-height: 32px;
	width: auto;
	cursor: pointer;
	transition: fill 0.3s ease-in-out;
}

.icon-container-2 svg {
	height: 1.6vw;
	max-height: 22px;
	min-height: 15px;
	width: auto;
	cursor: pointer;
	transition: fill 0.3s ease-in-out;
}

.icon-container svg:hover,
.icon-container-2 svg:hover {
	fill: white;
	transition: fill 0.3s ease-in-out;
}

.page-description {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 1rem;
	letter-spacing: -0.411429px;
	color: white;
	text-align: justify;
}

.about-1 svg {
	height: 6vw;
}

.emphasize-text-1 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	line-height: 1.286;
	font-size: 1.3125rem;
	text-align: center;
	letter-spacing: -0.157051px;
	color: var(--secondary-orange);
}

.right-border {
	border-right: 2px solid var(--fourth-blue);
}

.page-a {
	cursor: pointer;
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: normal;
	font-size: 0.9rem;
	text-align: center;
	letter-spacing: -0.411429px;
	color: var(--fifth-blue);
	transition: color 0.3s ease-in-out;
}

.bottom-decoration {
	text-decoration: underline var(--fifth-blue);
	transition: text-decoration 0.3s ease-in-out;
}

.page-a:hover {
	color: var(--orange);
	transition: color 0.3s ease-in-out;
}

.bottom-decoration:hover {
	text-decoration: underline var(--orange);
	transition: text-decoration 0.3s ease-in-out;
}

.about-2 svg {
	height: 4.5vw;
}

.emphasize-text-2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	line-height: 1.2778;
	font-size: 1.125rem;
	text-align: center;
	letter-spacing: -0.134615px;
	color: var(--secondary-orange);
}

.page-description-small {
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	text-align: center;
	letter-spacing: -0.36px;
	color: white;
}

.page-description-border {
	border: 1px solid var(--main-blue);
	border-radius: 5px;
}

.about-3 {
	background-color: var(--secondary-blue);
}

.criteria-head {
	font-family: 'SF Pro Text';
	font-weight: bold;
	font-size: 1.125rem;
	text-align: center;
	letter-spacing: -0.462857px;

	color: var(--orange);
}

.mentors-head {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 1.875rem;
	text-align: center;
	letter-spacing: -0.166667px;
	color: var(--orange);
}

.mentor-photo {
	opacity: 0.65;
	border-radius: 5px;
	transition: opacity 0.4s ease-in-out;
}

.mentor:hover .mentor-photo {
	opacity: 1;
	transition: opacity 0.4s ease-in-out;
}

.mentor-name {
	font-family: Gilroy;
	font-weight: bold;
	font-size: 0.9375rem;
	letter-spacing: -0.11218px;
	color: white;
}

.mentor-description {
	font-family: Gilroy;
	font-weight: normal;
	font-size: 0.875rem;
	text-align: center;
	letter-spacing: -0.11218px;

	color: white;
}

.mentor-container {
	background: var(--sixth-blue);
	mix-blend-mode: normal;
	opacity: 0.76;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
	bottom: -8%;
	transition: bottom 0.4s ease-in-out;
}

.mentor {
	overflow: hidden;
	width: 100%;
}

/* .mentor-description {
	bottom: -50%;
} */

.mentor:hover .mentor-container {
	bottom: 0 !important;
	transition: bottom 0.4s ease-in-out;
}

.mentor img {
	width: 100%;
	height: auto;
}

.question-block {
	border-radius: 8px;
	background: var(--secondary-blue);
	cursor: pointer;
}

.question {
	font-family: 'SF Pro Text';
	font-weight: bold;
	font-size: 0.9375rem;
	letter-spacing: -0.36px;
	color: white;
	transition: color 0.3s ease-in-out;
}

.question-name {
	max-width: 90%;
}

.question-block.active .question,
.question-block:hover .question {
	color: var(--secondary-orange);
	transition: color 0.3s ease-in-out;
}

.question-dot {
	font-size: 1.2rem;
	width: 1.8vw;
	height: 1.8vw;
	min-width: 25px;
	min-height: 25px;
	background: var(--secondary-orange);
	color: white;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
	transition: color 0.6s ease-in-out;
}

.question-block.active .question-dot {
	background: var(--third-blue);
	color: var(--secondary-orange);
	transition: color 0.3s ease-in-out;
	transition: background-color 0.6s ease-in-out;
}

.answear-container {
	overflow: hidden;
	transition: height 0.5s ease;
	height: 0px;
}

.question-block.active .answear-container {
	transition: height 0.5s ease;
}

.answear {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 0.875rem;
	letter-spacing: -0.36px;
	color: white;
}

.stage-link {
	color: var(--seventh-blue);
	text-decoration: underline var(--seventh-blue);
}

.stage-block-right {
	border-right: 2px solid var(--fourth-blue);
}

.stage-block-left {
	border-left: 2px solid var(--fourth-blue);
}

.stage-block-bottom {
	border: 1px solid var(--fourth-blue);
}

.stage-head {
	font-family: Gilroy;
	font-weight: bold;
	font-size: 1.625rem;
	letter-spacing: -0.144444px;
	color: var(--secondary-orange);
}

.number {
	width: 2vw;
	height: 2vw;

	background: var(--orange);
	border-radius: 50%;
	font-family: Gilroy;
	font-weight: 600;
	font-size: 0.875rem;
	text-align: center;
	letter-spacing: -0.118954px;
	color: var(--fourth-blue);
}

.left-50 {
	left: 53%;
}

.right-50 {
	right: 50%;
}

.stage-dates {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 0.8125rem;
	letter-spacing: -0.334286px;
	color: var(--fifth-blue);
}

.valuation-text {
	font-family: Gilroy;
	font-weight: 600;
	font-size: 1.625rem;
	text-align: center;
	letter-spacing: -0.144444px;
	color: var(--orange);
}

.valuation-dot {
	border-radius: 50%;
	height: 0.8vw;
	width: 0.8vw;
	min-width: 10px;
	min-height: 10px;
	max-width: 20px;
	max-height: 20px;
	background: var(--secondary-orange);
}

.valuation-items {
	font-family: 'SF Pro Text';
	font-weight: normal;
	line-height: 1.5625;
	font-size: 1rem;
	letter-spacing: -0.48px;
	color: #f5f6fa;
}

.news-date {
	font-family: 'SF Pro Text';
	font-weight: normal;
	font-size: 0.875rem;
	letter-spacing: -0.36px;
	color: var(--secondary-orange);
}

.news-description,
.news-name {
	font-family: 'SF Pro Text';
	font-weight: normal;
	letter-spacing: -0.36px;
	color: white;
}

.news-description {
	font-size: 0.8rem;
}

.news-description:hover {
	color: white;
}

.news,
.about-1,
.about-2,
.about-3 div,
.mentors-container,
.stages,
.faq,
.account,
.common,
.valuation,
.participants-width {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.news-item-header {
	font-size: 1.7rem;
}

.news-item-text {
	font-size: 1rem;
}

.news-item-description {
	font-size: 1rem;
}

.contact-form {
	width: 25rem;
}

.contact-form-input {
	border-radius: 10px;
	border: 2px solid var(--orange);
	background-color: var(--secondary-blue);
	color: white;
}

.contact-form-input::placeholder {
	color: rgb(146, 146, 146);
	opacity: 1; /* Firefox */
}

.input-error {
	box-shadow: 0px 0px 10px 2px rgb(184, 40, 40);
}

.swal-container-class {
	color: red;
}

.header-class {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.swal-popup-class {
	width: auto;
}

.swall-icon-class {
	font-size: 0.4rem;
	margin: 0;
}

.swall-title-class {
	margin-left: 1rem;
	margin-bottom: 0;
	font-size: 1.3rem;
}

.swall-confirm-btn-class {
	/* background-color: var(--secondary-blue) !important; */
	background-color: var(--orange) !important;
	border-radius: 15px !important;
	padding: 0.4rem 2rem !important;
	color: var(--third-blue) !important;
}

.swall-confirm-btn-class:hover {
	color: var(--orange) !important;
	background: var(--third-blue) !important;
	transition: color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.notification-container {
	display: flex;
	top: 4rem;
	right: 0;
	left: 0;
	height: 100vh;
	z-index: -10;
}

#success-contact-notification {
	background-color: rgba(58, 155, 66, 0.8);
}

#failure-contact-notification {
	background-color: rgba(203, 44, 23, 0.8);
}

#send-btn {
	width: 8rem;
}

.color-orange {
	color: var(--orange);
}

.text-decoration-none {
	text-decoration: none !important;
}

.max-w-75 {
	max-width: 75%;
}

.max-w-65 {
	max-width: 65%;
}

.font-size-inherit {
	font-size: inherit;
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 1.18rem;
	}
}

@media only screen and (min-width: 1500px) {
	html {
		font-size: 1.28rem;
	}
}

@media only screen and (min-width: 1800px) {
	html {
		font-size: 1.37rem;
	}
}

@media screen and (max-aspect-ratio: 6/4) {
	#secondary-carousel img {
		right: -5% !important;
	}
}

@media screen and (min-aspect-ratio: 6/4) and (max-aspect-ratio: 8/5) {
	#secondary-carousel img {
		right: -3% !important;
	}
}

@media screen and (min-aspect-ratio: 8/5) and (max-aspect-ratio: 16/9) {
	#secondary-carousel img {
		right: 3% !important;
	}
	.main-carousel-item,
	.owl-dots {
		margin-left: 3%;
	}
}

@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 18/9) {
	#secondary-carousel img {
		right: 6% !important;
	}
	.main-carousel-item,
	.owl-dots {
		margin-left: 5%;
	}
}

@media screen and (min-aspect-ratio: 18/9) {
	#secondary-carousel img {
		right: 8% !important;
	}
	.main-carousel-item,
	.owl-dots {
		margin-left: 8%;
	}
}

@media screen and (max-width: 1200px) {
	#secondary-carousel img {
		right: -3% !important;
	}
}
